<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="containner-fluid">
    <form id="myFrom">
        <div class="row">
            <div class="col-md-2">
                <label for="contact">收货人</label>
            </div>
            <div class="col-md-4">
                <!--<input type="hidden" name="id" value="${book.id}">-->
                <input type="text" class="form-control" name="contact" id="contact" placeholder="请输入收货人姓名" >
            </div>
            <div class="col-md-2">
                <label for="">所在地区</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="" id="" placeholder="请输入所在地区">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="address">详细地址</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="address" id="address" placeholder="请输入详细地址">
            </div>
            <div class="col-md-2">
                <label for="mobile">联系电话</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control date" name="mobile" id="mobile" placeholder="请输入联系电话">
            </div>
        </div>
    </form>
</div>
</body>
</html>